body{
  font-size: 16px;
  color: #fff;
  background-color: #efd45b;
  font-family: 'Baloo Bhai', cursive;
}

.navbar{
	background-color: white;
	border-radius: 10px;
	border-color: black;
}

.navbar-brand h1, #main-content h3, #main-content h2{
	color: #951C49;
	text-transform: uppercase;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #efd45b;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -20px;
  margin-bottom: 20px;
}

#nav-list{
  margin-top: 20px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.5em;
}

.menu{
	background-color: white;
	border-radius: 10px;
	margin-right: 5px;
}

.menu h3{
	padding-top: 10px;
}
.menu-desc{
	padding: 10px;
	color:black;
	font-family: 'PT Sans', sans-serif;
}

@media (min-width: 768px) {
	.navbar-brand {
	height: inherit;
	}
}
